{# Users #}
{% if not "root@pam" in pve_enabled_usernames_pam %}
user:root@pam:0:0::::::
{% endif %}
{% for username in pve_enabled_usernames_pam %}
user:{{ username }}:1:0::::::
{% endfor %}

{# Tokens #}
{% for token_id in pve_user_tokens %}
token:{{ token_id }}:0:0::
{% endfor %}

{# Groups #}
group:admin:{{ pve_admin_usernames_pam | join(",") }}:Administrators:

{# Permissions #}
acl:1:/:@admin:Administrator:
