[OPTIONS]
enable: 1
ndp: 1
dhcp: 0
radv: 0
policy_in: ACCEPT
policy_out: REJECT

[RULES]
OUT ACCEPT -source fe80::/10 -log nolog # Allow IPv6 LL local source
OUT ACCEPT -source {{ vm.network_ipv4_address | ansible.utils.ipaddr("address") }} -log nolog # Verify IPv4 local source
OUT ACCEPT -source {{ vm.network_ipv6_address | ansible.utils.ipaddr("address") }} -log nolog # Verify IPv6 GUA/ULA local source
