# {{ ansible_managed }}

[Match]
Name={{ linux_networking_interface }}

[Link]
MTUBytes={{ linux_networking_mtu }}

[Network]
{# IPv4 #}
{% if linux_networking_ipv4_addressing == 'static' %}
Address={{ linux_networking_ipv4_address | ansible.utils.ipaddr("host") }}
{% if linux_networking_ipv4_gateway is defined %}
Gateway={{ linux_networking_ipv4_gateway | ansible.utils.ipaddr("address") }}
{% elif linux_networking_ipv4_address | ansible.utils.ipaddr('prefix') == 31 %}
Gateway={{ linux_networking_ipv4_address | ansible.utils.ipaddr(0) | ansible.utils.ipaddr("address") }}
{% else %}
Gateway={{ linux_networking_ipv4_address | ansible.utils.ipaddr(1) | ansible.utils.ipaddr("address") }}
{% endif %}
{% elif linux_networking_ipv4_addressing == 'dhcp' %}
DHCP=ipv4
{% endif %}{# linux_networking_ipv4_addressing #}
{# IPv6 #}
{% if linux_networking_ipv6_addressing == 'static' %}
IPv6AcceptRA=no
Address={{ linux_networking_ipv6_address | ansible.utils.ipaddr("host") }}
{% if linux_networking_ipv6_gateway is defined %}
Gateway={{ linux_networking_ipv6_gateway | ansible.utils.ipaddr("address") }}
{% elif linux_networking_ipv6_address | ansible.utils.ipaddr('prefix') == 127 %}
Gateway={{ linux_networking_ipv6_address | ansible.utils.ipaddr(0) | ansible.utils.ipaddr("address") }}
{% else %}
Gateway={{ linux_networking_ipv6_address | ansible.utils.ipaddr(1) | ansible.utils.ipaddr("address") }}
{% endif %}
{% elif linux_networking_ipv6_addressing == 'slaac' %}
IPv6AcceptRA=yes
IPv6PrivacyExtensions=no
{% else %}
IPv6AcceptRA=no
{% endif %}{# linux_networking_ipv6_addressing #}
LLDP={{ "yes" if linux_network_lldp_receive else "no" }}
EmitLLDP={{ "yes" if linux_network_lldp_transmit else "no" }}

{% elif linux_networking_ipv4_addressing == 'dhcp' %}
[DHCP]
UseDNS=yes
UseNTP=no
UseHostname=no
UseDomains=yes
Anonymize=yes
{% endif %}

{% if linux_networking_ipv6_addressing == 'slaac' %}
[IPv6AcceptRA]
UseDNS=yes
UseDomains=yes
Token=prefixstable

[DHCPv6]
UseDNS=yes
UseNTP=no
UseHostname=no
UseDomains=yes
{% endif %}
