# Managed

{% if linux_proxmox_ve_compatible %}
::1 localhost localhost6
127.0.0.1 localhost localhost4

{{ linux_networking_ipv6_address | ansible.utils.ipv6("address") }} {{ inventory_hostname }} {{ inventory_hostname_short }}
{{ linux_networking_ipv4_address | ansible.utils.ipv4("address") }} {{ inventory_hostname }} {{ inventory_hostname_short }}
{% else %}
::1 {{ inventory_hostname }} {{ inventory_hostname_short }} localhost localhost6
127.0.0.1 {{ inventory_hostname }} {{ inventory_hostname_short }} localhost localhost4
{% endif %}
