# {{ ansible_managed }}

http:
  routers:
    api:
      entryPoints: [api]
      #tls: {}
      rule: 'PathPrefix(`/api/`) || PathPrefix(`/debug/`)'
      service: api@internal

    api-tls:
      entryPoints: [api]
      tls: {}
      rule: 'PathPrefix(`/api/`) || PathPrefix(`/debug/`)'
      service: api@internal

    dashboard:
      entryPoints: [api]
      #tls: {}
      rule: 'PathPrefix(`/dashboard/`)'
      service: api@internal

    dashboard-tls:
      entryPoints: [api]
      tls: {}
      rule: 'PathPrefix(`/dashboard/`)'
      service: api@internal

    metrics:
      entryPoints: [metrics]
      #tls: {}
      rule: 'PathPrefix(`/`)'
      service: prometheus@internal

    metrics-tls:
      entryPoints: [metrics]
      tls: {}
      rule: 'PathPrefix(`/`)'
      service: prometheus@internal

    ping:
      entryPoints: [ping]
      #tls: {}
      rule: 'PathPrefix(`/`)'
      service: ping@internal

    ping-tls:
      entryPoints: [ping]
      tls: {}
      rule: 'PathPrefix(`/`)'
      service: ping@internal

    slash-redirect:
      entryPoints: [https]
      tls: {}
      rule: 'Path(`/{a:.*[^/]}`)'
      # Only if no other routers match
      priority: 1
      middlewares: [slash-redirect-redirect]
      service: noop@internal

  middlewares:
    slash-redirect-redirect:
      redirectRegex:
        regex: "(.*)"
        replacement: "${1}/"
        permanent: false
