# Managed

[Match]
Name={{ linux_server_networking_interface }}

[Link]
MTUBytes={{ linux_server_networking_mtu }}

[Network]
{# IPv4 #}
{% if linux_server_networking_ipv4_addressing == 'static' %}
Address={{ linux_server_networking_static_ipv4_address | ansible.utils.ipaddr("host") }}
{% if linux_server_networking_static_ipv4_gateway is defined %}
Gateway={{ linux_server_networking_static_ipv4_gateway | ansible.utils.ipaddr("address") }}
{% elif linux_server_networking_static_ipv4_address | ansible.utils.ipaddr('prefix') == 31 %}
Gateway={{ linux_server_networking_static_ipv4_address | ansible.utils.ipaddr(0) | ansible.utils.ipaddr("address") }}
{% else %}
Gateway={{ linux_server_networking_static_ipv4_address | ansible.utils.ipaddr(1) | ansible.utils.ipaddr("address") }}
{% endif %}
{% elif linux_server_networking_ipv4_addressing == 'dhcp' %}
DHCP=ipv4
{% endif %}
{# IPv6 #}
{% if linux_server_networking_ipv6_addressing == 'static' %}
IPv6AcceptRA=no
Address={{ linux_server_networking_static_ipv6_address | ansible.utils.ipaddr("host") }}
{% if linux_server_networking_static_ipv6_gateway is defined %}
Gateway={{ linux_server_networking_static_ipv6_gateway | ansible.utils.ipaddr("address") }}
{% elif linux_server_networking_static_ipv6_address | ansible.utils.ipaddr('prefix') == 127 %}
Gateway={{ linux_server_networking_static_ipv6_address | ansible.utils.ipaddr(0) | ansible.utils.ipaddr("address") }}
{{ else }}
Gateway={{ linux_server_networking_static_ipv6_address | ansible.utils.ipaddr(1) | ansible.utils.ipaddr("address") }}
{% endif %}
{% elif linux_server_networking_ipv6_addressing == 'slaac' %}
{# Will SLAAC or DHCPv6 #}
IPv6AcceptRA=yes
{% else %}
IPv6AcceptRA=no
{% endif %}
