#jinja2: trim_blocks:False

{% if apply_mode %}
{% include "parts/delete_header.cfg.j2" %}
{% endif %}

{% include "parts/firewall.cfg.j2" %}
{% include "parts/interfaces.cfg.j2" %}
{% include "parts/nat.cfg.j2" %}
{% include "parts/protocols.cfg.j2" %}
{% include "parts/service.cfg.j2" %}
{% include "parts/system.cfg.j2" %}

{% for line in vyos_config_extra_lines %}
{{ line }}
{% endfor %}
