{{ traefik_log_dir }}/*.log {
  size 10M
  rotate 5
  missingok
  notifempty
  compress
  create 0640 {{ traefik_user_name }} adm
  postrotate
    kill -USR1 `systemctl show --value -p MainPID traefik.service`
  endscript
}
