{% if apply_mode %}
delete container
delete firewall
delete high-availability
delete interfaces
delete load-balancing
delete nat
delete nat64
delete nat66
delete netns
delete pki
delete policy
delete protocols
delete qos
delete service
delete system
delete vpn
delete vrf
{% endif %}
