set firewall global-options all-ping 'enable'
set firewall global-options broadcast-ping 'disable'
set firewall global-options directed-broadcast 'disable'
set firewall global-options ip-src-route 'disable'
set firewall global-options ipv6-src-route 'disable'
set firewall global-options log-martians 'disable'
set firewall global-options receive-redirects 'disable'
set firewall global-options ipv6-receive-redirects 'disable'
set firewall global-options resolver-cache
set firewall global-options resolver-interval '60'
set firewall global-options send-redirects 'disable'
set firewall global-options source-validation '{{ vyos_config_fw_source_validation }}'
set firewall global-options ipv6-source-validation '{{ vyos_config_fw_source_validation }}'
set firewall global-options syn-cookies 'enable'
set firewall global-options twa-hazards-protection 'disable'
{% if vyos_config_fw_conntrack_default_actions %}
set firewall global-options state-policy established action 'accept'
set firewall global-options state-policy invalid action 'drop'
set firewall global-options state-policy related action 'accept'
{% endif %}
