{% for route in vyos_config_proto_static_routes %}
{% set route_kw = "route6" if ":" in route.prefix else "route" %}
{% set cli_path = ("vrf name " + route.vrf + " " if route.vrf is defined and route.vrf != "default" else "") + "protocols static " + route_kw + " " + route.prefix %}
{% if route.next_hop is defined %}
set {{ cli_path }} next-hop {{ route.next_hop }}
{% endif %}
{% if route.blackhole is defined and route.blackhole %}
set {{ cli_path }} blackhole
{% endif %}
{% endfor %}{# vyos_config_proto_static_routes #}
