set service lldp interface all

{% for srv in vyos_config_svc_ntp_servers %}
set service ntp server {{ srv }}
{% endfor %}
{% if vyos_config_svc_ntp_vrf %}
set service ntp vrf '{{ vyos_config_svc_ntp_vrf }}'
{% endif %}
{% if vyos_config_svc_ssh_defaults %}
set service ssh disable-host-validation
set service ssh dynamic-protection
{% endif %}
{% if vyos_config_svc_ssh_disable_password_auth %}
set service ssh disable-password-authentication
{% endif %}
{% for vrf in vyos_config_svc_ssh_vrfs %}
set service ssh vrf '{{ vrf }}'
{% endfor %}
