#jinja2: trim_blocks:False
# Managed

zone "{{ bind_zone_config.zone }}" {
    type primary;
    {%- if bind_dnssec_signing_default %}
    dnssec-policy default;
    inline-signing yes;
    {%- endif %}
    file "/etc/bind/zones/{{ bind_zone_config.zone }}db";
    {# Ignore if secondary actually exists #}
    allow-transfer {
        {{ bind_secondary_ipv4_address }};
        {{ bind_secondary_ipv6_address }};
    };
};

{%- for network in bind_zone_config.networks %}

zone "{{ network.zone }}" {
    type primary;
    {%- if bind_dnssec_signing_default %}
    dnssec-policy default;
    inline-signing yes;
    {%- endif %}
    file "/etc/bind/zones/{{ network.zone }}db";
    {# Ignore if secondary actually exists #}
    allow-transfer {
        {{ bind_secondary_ipv4_address }};
        {{ bind_secondary_ipv6_address }};
    };
};
{%- endfor %}
