; Managed

$ORIGIN {{ bind_zone_config.zone }}
$TTL {{ bind_zone_config.ttl }}

@   IN          SOA     {{ bind_zone_config.ns1_name }}.{{ bind_zone_config.zone }} {{ bind_zone_config.hostmaster }} (
                        {{ bind_zone_config.serial }} ; serial number
                        28800           ; Refresh
                        7200            ; Retry
                        864000          ; Expire
                        86400           ; Min TTL
                        )
                NS      {{ bind_zone_config.ns1_name }}
{% if bind_zone_config.ns2_name is defined %}
                NS      {{ bind_zone_config.ns2_name }}
{% endif %}

{% for name_id, name_opts in bind_zone_names.items() -%}

{%- if name_opts.a is defined %}
{{ "%-15s" | format(name_id) }} A       {{ name_opts.a }}
{% endif %}

{%- if name_opts.aaaa is defined %}
{{ "%-15s" | format(name_id) }} AAAA    {{ name_opts.aaaa }}
{% endif %}

{%- if name_opts.cname is defined %}
{{ "%-15s" | format(name_id) }} CNAME   {{ name_opts.cname }}
{% endif %}

{%- if name_opts.cname_short is defined %}
{{ "%-15s" | format(name_id) }} CNAME   {{ name_opts.cname_short }}.{{ bind_zone_config.zone }}
{% endif %}

{%- endfor %}
