# Managed

confdir /etc/chrony/conf.d
sourcedir /etc/chrony/sources.d
keyfile /etc/chrony/chrony.keys
driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
ntsdumpdir /var/lib/chrony

# Sync to HW clock
rtcsync
# Don't smear leap seconds
leapsectz right/UTC
maxupdateskew 100.0
makestep 1 3

{% for server in linux_server_ntp_servers %}
pool {{ server }} iburst
{% endfor %}

{% if linux_server_ntp_chrony_server_mode %}
# Allow external clients
allow
{% endif %}
