; Managed

$ORIGIN {{ infra_names.zone }}
$TTL {{ infra_names.ttl }}

@   IN          SOA     {{ infra_names.ns1_name }}.{{ infra_names.zone }} {{ infra_names.hostmaster }} (
                        {{ infra_names.serial }} ; serial number
                        28800           ; Refresh
                        7200            ; Retry
                        864000          ; Expire
                        86400           ; Min TTL
                        )
                NS      {{ infra_names.ns1_name }}
{% if infra_names.ns2_name is defined %}
                NS      {{ infra_names.ns2_name }}
{% endif %}

{% for name_set in infra_names.names -%}

{%- if name_set.a is defined %}
{{ "%-15s" | format(name_set.name) }} A       {{ name_set.a }}
{% endif %}

{%- if name_set.aaaa is defined %}
{{ "%-15s" | format(name_set.name) }} AAAA    {{ name_set.aaaa }}
{% endif %}

{%- if name_set.cname is defined %}
{{ "%-15s" | format(name_set.name) }} CNAME   {{ name_set.cname }}
{% endif %}

{%- if name_set.cname_short is defined %}
{{ "%-15s" | format(name_set.name) }} CNAME   {{ name_set.cname_short }}.{{ infra_names.zone }}
{% endif %}

{%- endfor %}
