# {{ ansible_managed }}

confdir /etc/chrony/conf.d
sourcedir /etc/chrony/sources.d
keyfile /etc/chrony/chrony.keys
driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
ntsdumpdir /var/lib/chrony

# Sync to HW clock
rtcsync
# Enable HW timestamping (harmless if not supported)
hwtimestamp *
# Don't smear leap seconds
leapsectz right/UTC
# Threshold in PPM for estimates to accept
maxupdateskew 100
# Correct the clock in 3 steps if it's more than a second away
makestep 1 3

{% for server in linux_ntp_servers %}
pool {{ server }} iburst
{% endfor %}

{% if linux_ntp_chrony_server_mode %}
# Allow external clients
allow
{% endif %}
