{
    "exec-opts": ["native.cgroupdriver=systemd"],
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "100m"
    },
    "default-address-pools": [{"base": "{{ docker_network_pools_ipv4_prefix }}", "size": 24}],
    "ipv6": true,
    "ip6tables": true,
    "fixed-cidr-v6": "{{ docker_network_default_bridge_ipv6_subnet }}",
    "dns": {{ docker_default_dns_servers | list | to_json }},
    "metrics-addr": "[::]:9323",
    "userland-proxy": {{ docker_userland_proxy_enable | bool | to_json }},
    {% if docker_nvidia_runtime_enable %}
    "runtimes": {
        "nvidia": {
            "path": "nvidia-container-runtime",
            "runtimeArgs": []
        }
    },
    {% endif %}
    "experimental": true
}
